{% extends 'registration/base.html' %}

{% block content %}
    <center>
        <br><br>
        <h1>Airline Manager</h1>
        <br>
        <b>become airline CEO and make your own aviation empire</b>
        <br><br><br><br><br><br>
        <label>Play now</label><br>
        <a href="/signup" class="btn btn-success btn-lg btn-block">Sign up</a></b>
        <br><br><br>
        <label>Already have an Account?</label>
        <a href="/login" class="btn btn-primary btn-lg btn-block">Login</a></b>
        <a href="/password_reset">Forgot password?</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </center>
{% endblock %}