{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}Reset password{% endblock %}

{% block content %}
    <center>
        {% if validlink %}
            <br>
            <h1>Set a new password!</h1>
            <br>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" class="btn btn-success" value="Change my password">
            </form>
            <br><br>
        {% else %}
            <br><br><br><br>
            <b>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</b>
            <br><br><br><br>
        {% endif %}
    </center>
{% endblock %}