{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}Reset password{% endblock %}

{% block content %}
    <center>
      <h1>Reset password</h1>
        <br><br>
      <label>Enter your email address below, and we'll email instructions for setting a new one.</label>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Send me instructions">
      </form>
      <br><br><br><br>
    </center>
{% endblock %}