{% extends "main/home.html" %}

{% block content2 %}
    <center>
    <h1>Aircraft market</h1>
    <ul>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <label>
                        <th scope="col">Model</th>
                        <th scope="col">Seats</th>
                        <th scope="col">Range</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </label>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label>Bombardier Dash-8</label></td>
                    <td><label>70</label></td>
                    <td><label>2000</label></td>
                    <td><label>200000</label></td>
                    <td><label><a href="" class="btn btn-success">buy</a> </label></td>
                </tr>
                <tr>
                    <td><label>Bombardier CRJ-700</label></td>
                    <td><label>80</label></td>
                    <td><label>3500</label></td>
                    <td><label>300000</label></td>
                    <td><label><a href="" class="btn btn-success">buy</a> </label></td>
                </tr>
                <tr>
                    <td><label>Boeing 737-800</label></td>
                    <td><label>170</label></td>
                    <td><label>5800</label></td>
                    <td><label>1100000</label></td>
                    <td><label><a href="buy/67378" class="btn btn-success">buy</a> </label></td>
                </tr>
            </tbody>
        </table>
        <br><br>
    </ul>
    </center>
{% endblock %}