{% extends 'main/home.html' %}
{% load main_tags %}

{% block content2 %}
    {% load static %}
    <center>
        <h1>Fleet</h1>
        {% if user.airline.plane_set.all.count == 0 %}
            <center>
                <b>You don't have any aircrafts yet</b><br><br>
                <a href="aircraftmarket" class="btn btn-primary">Buy first aircraft</a><br><br>
            </center>
        {% else %}
            <center>
                <ul>
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                            <label><th scope="col">Model</th>
                            <th scope="col">Registration</th></label>
                            <th scope="col">Flight</th>
                            <th scope="col">Sell</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for plane in user.airline.plane_set.all %}
                          <tr>
                              <td><label>{{ plane.type }}</label></td>
                              <td><label>{{ plane.registration }}</label></td>
                              {% if plane.flight %}
                                    <td><label>{{ plane.flight.departure_airport.city }} {{ plane.flight.departure_airport.code }} -> {{ plane.flight.arrival_airport.city }} {{ plane.flight.arrival_airport.code }}</label></td>
                                    <td><label>Cannot sell aircraft with active flight</label></td>
                              {% else %}
                                    <td><center><a href="createflight/{{ plane.plane_id }}" class="btn btn-success">Create flight</a></center></td>
                                    <td><center><a href="fleet/sellaircraft/{{ plane.plane_id }}" class="btn btn-danger">Sell</a></center></td>
                              {% endif %}
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <br><br>
                </ul>
                <a href="aircraftmarket" class="btn btn-primary">Aircraft market</a><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </center>
        {% endif %}
    </center>
{% endblock %}