{% extends 'main/home.html' %}
{% load main_tags %}

{% block content2 %}
    {% load static %}
    <center>
        <h1>Fleet</h1>
        {% if user.airline.plane_set.all.count == 0 %}
            <center>
                <b>You don't have any aircrafts yet</b><br><br>
                <a href="aircraftmarket" class="btn btn-primary">Buy first aircraft</a><br><br>
            </center>
        {% else %}
            <center>
                <ul>
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                            <label><th scope="col">model</th>
                            <th scope="col">registration</th></label>
                        </tr>
                      </thead>
                      <tbody>
                      {% for plane in user.airline.plane_set.all %}
                          <tr>
                              <td><label>{{ plane.type }}</label></td>
                              <td><label>{{ plane.registration }}</label></td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <br><br>
                </ul>
                <a href="aircraftmarket" class="btn btn-primary">Aircraft market</a><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </center>
        {% endif %}
    </center>
{% endblock %}