{% extends 'main/home.html' %}
{% load main_tags %}

{% block content2 %}
    <center>
        <h1>Flights</h1>
        {% if flights.count == 0 %}
            <center>
                <b>You don't have any flights yet</b><br><br>
                <a href="createflight" class="btn btn-primary">Create first flight</a><br><br>
            </center>
        {% else %}
            <center>
                <ul>
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                            <label><th scope="col">Departure</th>
                            <th scope="col">Arrival</th>
                            <th scope="col">Aircraft</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Income</th>
                            <th scope="col">Flight status</th></label>
                        </tr>
                      </thead>
                      <tbody>
                      {% for flight in flights %}
                          <tr>
                              <td><label>{{ flight.departure_airport.city }} {{ flight.departure_airport.code }}</label></td>
                              <td><label>{{ flight.arrival_airport.city }} {{ flight.arrival_airport.code }}</label></td>
                              <td><label>{{ flight.plane_id.type }} {{ flight.plane_id.registration }}</label></td>
                              <td><label>{{ flight|distance }}</label></td>
                              <td><label>${{ flight|income }}</label></td>
                              {% if flight.arrival_time %}
                                  <td><label>In flight</br>landing:<br>{{ flight.arrival_time|gettime }}</label></td>
                              {% else %}
                              <td><nobr><a href="/main/flights/{{ flight.flight_id }}/delete" class="btn btn-danger">Delete</a>
                                  <a href="/main/flights/{{ flight.flight_id }}/startflight" class="btn btn-success">Start flight</a></nobr></td>
                              {% endif %}
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <br><br>
                </ul>
                <a href="createflight" class="btn btn-primary">Create new flight</a><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </center>
        {% endif %}
    </center>
{% endblock %}