{% extends 'registration/base.html' %}
{% block content %}
    <style>
    div.userinfo {
        text-align: right;
    }
    </style>
    {% if user.is_authenticated %}
        <div class="userinfo">
               You are logged as {{ user.username }}  <a href="/" class="btn btn-dark btn-sm">edit account</a> <a href="/logout" class="btn btn-dark btn-sm">Logout</a>
        </div>
        <br>
        <div class="upperbar">
            {{ user.airline.name }}
        </div>
    {% endif %}
{% endblock %}