{% extends 'registration/base.html' %}
{% block content %}
    {% load main_tags %}
    <style>
    div.userinfo {
        text-align: right;
    }
    div.upperbar{
        border-radius: 25px;
        background-color: navy;
    }
    .alignright {
	    float: right;
        margin-right: 5%;
        margin-top: 5px;
    }
    th {
        background-color: navy;
        color: white;
    }
    .left_side {
        margin-left: 15%;
        float: left;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 25px;
    }
    .right_side {
        margin-right: 15%;
        float: right;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 25px;
    }
    .stats2{
        margin-left: 50px;
        margin-right: 50px;
    }
    .topstats{
        margin-left: 10px;
        margin-right: 3px;
    }
    .smalllabel{
        font-size: 10px;
        margin-right: 10px;
    }
    </style>
    {% if user.is_authenticated %}
        <div class="userinfo">
               You are logged as {{ user.username }}  <a href="/" class="btn btn-dark btn-sm">edit account</a> <a href="/logout" class="btn btn-dark btn-sm">Logout</a>
        </div>
        <br>
        <div class="upperbar">
        <br>
            &nbsp;&nbsp;&nbsp;&nbsp;
{#            <img src="{% load static %} url('{% static "registration/media/airlinelogo.png" %}');" alt="">#}
            <b>{{ user.airline.name }}</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/main">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/main/fleet">Fleet</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/main/hubs">Hubs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/main/flights">Flights</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="alignright">${{ user.airline.budget }}</label>
            <br><br>
        </div>
        <br>
        {% block content2 %}
            <center>
            <h1>Home</h1>
            </center>
            {% if user.airline.hub_set.all.count == 0 %}
                <br>
                <center>
                    <label>Seem your airline doesn't have any hub yet</label>
                    <br>
                    <a href="hubs">choose one here</a>
                </center>
            {% elif user.airline.plane_set.all.count == 0 %}
                <center>
                    <label>Seem your airline doesn't have any aircraft yet</label>
                    <br>
                    <a href="aircraftmarket">buy one here</a>
                </center>
            {% else %}
                <center>
                <br>
                map
                </center>
            {% endif %}
            <br><br><br>
            <div class="stats">
                <div class="left_side">
                    <div class="upperbar"><label class="stats2">{{ user.airline.name }} stats</label></div>
                    <center>
                        <label>Passengers carried - {{ user.airline.carried_passengers }}</label><br>
                        <label>Active flights - {{ flights.count }}</label><br>
                        <label>Total completed flights - {{ user.airline.completed_flights }}</label><br>
                        <label>Fleet size - {{ user.airline.plane_set.count }}</label><br>
                        <label>Hubs - {{ user.airline.hub_set.count }}</label>
                    </center>
                </div>
                <div class="right_side">
                    <div class="upperbar"><label class="topstats">Top airlines</label>
                        <label class="smalllabel">(most passengers)</label></div>
                    {% for airline in topairlines %}
                    <center>
                        <label>{{ airline.name }} - {{ airline.carried_passengers }}</label><br>
                    </center>
                    {% endfor %}
                </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}