{% extends 'registration/base.html' %}
{% block content %}
    <style>
    div.userinfo {
        text-align: right;
    }
    div.upperbar{
        border-radius: 25px;
        background-color: navy;
    }
    .alignright {
	    float: right;
        margin-right: 5%;
        margin-top: 5px;
    }
    </style>
    {% if user.is_authenticated %}
        <div class="userinfo">
               You are logged as {{ user.username }}  <a href="/" class="btn btn-dark btn-sm">edit account</a> <a href="/logout" class="btn btn-dark btn-sm">Logout</a>
        </div>
        <br>
        <div class="upperbar">
            <img src="{% load static %} url('{% static "registration/media/airlinelogo.png" %}');" alt="   ">
            <b>{{ user.airline.name }}</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/main">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="fleet">Fleet</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="hubs">Hubs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="flights">Flights</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="alignright">${{ user.airline.budget }}</label>
        </div>
        <br>
        {% block content2 %}
            {% if user.airline.hub_set.all.count == 0 %}
                <br>
                <center>
                    <label>Seem your airline doesn't have any hub yet</label>
                    <br>
                    <a href="hubs">choose one here</a>
                </center>
            {% elif user.airline.plane_set.all.count == 0 %}
                <center>
                    <label>Seem your airline doesn't have any aircraft yet</label>
                    <br>
                    <a href="aircraftmarket">buy one here</a>
                </center>
            {% elif user.airline.flight_set.all.count == 0 %}
                <center>
                    <label>Seem your airline doesn't have any flights yet</label>
                    <br>
                    <a href="flights">create one here</a>
                </center>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}